uhub-sapi/src/main/mule/get-covid-reports.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get-covid-reportsFlow" doc:id="fdc71c00-0f4e-4d08-8b2f-f89e9280c517" >
		<http:listener doc:name="Listener" doc:id="03fce8db-6fd9-48db-99f0-477850ab8c35" config-ref="HTTP_Listener_config" path="v1/cases" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="6e404a98-757c-4694-b9dd-739dee6fe48b" message="#[attributes.queryParams.state]"/>
	</flow>
</mule>
