uhub-sapi/src/main/mule/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="baf40b30-a869-4198-97a8-5e51e93dd371" basePath="covid" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="register-covid-caseFlow" doc:id="1e990ba9-5f55-4078-9f63-932612fa48d6" >
		<http:listener doc:name="Listener" doc:id="ee09212e-42a0-4def-8e2d-6ef9256b36e2" config-ref="HTTP_Listener_config" path="v1/cases" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="b3db7449-bda2-4abd-a934-42e863f4e7b7" message="#[payload]"/>
		<set-variable value="#[payload.firstName]" doc:name="Set Variable" doc:id="1b5ed8ee-4ced-44aa-9f65-456267dd74f1" variableName="userName"/>
		<logger level="INFO" doc:name="Logger" doc:id="2dcac8c7-361d-48e2-94d7-3a902d1b7d35" message="#[vars.userName]"/>
	</flow>
</mule>
